.sidebar {
    width: 20%;
    height: 100dvh;
    background-color: #2a2185;
    overflow-y: auto;                                                                                                                                                                                                                             
}

.menuList {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0 1rem;
    gap: 2rem;
    color: #FFFF;
}

.list-data {
    width: 97.3%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: #FFFF !important;
    margin-left: 1rem;
    position: relative;
}

.list-data:hover {

    background-color: #FFFF;
    color: #2a2185 !important;
    transition: 600ms;

}
a.active{
    background-color: #FFFF;
    color: #2a2185 !important;
    transition: 500ms;
}
.signbtn:hover {
    color: red !important;
}

.signbtn {
    width: 97.3%;
    margin-left: 0;
    color:red !important;
}

.avatarSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 0 2rem;
    width: 10rem;
    color: #FFFF;
}


@media(min-width:2500px) {
    .list-data {
        width: 30rem;
    }
}
@media(max-width:1300px) {
    .list-data {
        width: 97.3%;
    }
}
@media(max-width:800px) {
         .sidebar {
            width: 30%;
        }
        .avatarSection {
            margin: 2rem 0 0 1rem;
    
        }
        .menuList {
            position: relative;
            left: -1.5rem;
        }
        .list-data {
            width: 110%;
        }
}

@media(max-width:500px) {
  
    .menuList {
        position: relative;
        left: -1.5rem;
    }
    .sidebarListName{
        display: none;
    }
    .avatarSection {
        margin: 2rem 0 0 1rem;

    }
    .list-data-con{
        display: none;
    }
    .list-data {
        width: 110%;
    }
}
