.sidebar {
    width: 20%;
    height: 100dvh;
    background-color: #2a2185;
    /* background:linear-gradient(-40deg,#4481eb,#04befe); */
    overflow-y: auto;
                                                                                                                                                                                                                                             /* transition: all 0.5s; */

}

.menuList {
    /* text-decoration: none; */
    width: 90%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0 1rem;
    /*justify-content: start; */
    /* align-items: center; */
    gap: 2rem;
    color: #FFFF;
    /* background-color: antiquewhite; */
}

.list-data {
    width: 97.3%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: #FFFF !important;
    margin-left: 1rem;
    position: relative;
}

.list-data:hover {

    background-color: #FFFF;
    color: #2a2185 !important;
    transition: 600ms;

}
a.active{
    background-color: #FFFF;
    color: #2a2185 !important;
    transition: 500ms;
}
.signbtn:hover {
    color: red !important;
}

.signbtn {
    width: 97.3%;
    margin-left: 0;
    color:red !important;
}

.avatarSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 0 2rem;
    width: 10rem;
    color: #FFFF;
}

/* .box-style{
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: red;
    right: 0;
} */
@media(max-width:2600px) {
    .list-data {
        width: 30rem;
    }
}
@media(max-width:1100px) {
    /* .sidebar {
                    background-color: red;
                    width: 20%;
    } */
    .list-data {
        width: 93.9%;
    }
}
@media(max-width:800px) {
         .sidebar {
            /* background-color: red; */
            width: 30%;
        }
        .avatarSection {
            margin: 2rem 0 0 1rem;
    
        }
        .menuList {
            position: relative;
            left: -1.5rem;
        }
        .list-data {
            width: 110%;
        }
}

@media(max-width:500px) {
    /* .sidebar {
        width: calc(700px - 150%);
    } */

    .menuList {
        position: relative;
        left: -1.5rem;
    }
    .sidebarListName{
        display: none;
    }
    .avatarSection {
        margin: 2rem 0 0 1rem;

    }
    .list-data-con{
        display: none;
    }
    .list-data {
        width: 110%;
    }
}
/* @media(min-width:425px) {

    .dash{
        background-color: aqua;
        width: 425px;
        height: 100dvh;
    }

} */
/* @media(max-width:400px) {
    .menuList {
        position: relative;
        left: -1.5rem;
    }
    .sidebarListName{
        display: none;
    }
    .avatarSection {
        margin: 2rem 0 0 1rem;

    }
    .list-data-con{
        display: none;
    }
    .list-data {
        width: 100%;
    }
} */